---

- name: prometheus | snmp configuration file
  become: true
  template:
    dest: /etc/prometheus/snmp.yml
    force: true
    src: etc-prometheus-snmp-yml.j2
    mode: 0644
  register: prometheus_snmp_configuration

- name: prometheus | docker snmp exporter
  become: true
  docker_container:
    command: >
      '--config.file=/etc/prometheus/snmp.yml'
    image: prom/snmp-exporter:v{{ prometheus_snmp_exporter_version }}
    name: snmp-exporter
    networks:
      - name: "{{ prometheus_docker_network }}"
    published_ports: "{{ prometheus_snmp_exporter_listen_ip }}:{{prometheus_snmp_exporter_port}}:{{prometheus_snmp_exporter_port}}"
    recreate: >-
      {{ prometheus_snmp_configuration.changed }}
    restart_policy: always
    state: started
    volumes:
      - /etc/prometheus/snmp.yml:/etc/prometheus/snmp.yml:ro

